<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        #chartdiv {
          width: 100%;
          height:1000px;
        }
    </style>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <form class="row g-3" method="post" id="foo" action="javascript:local();">
      <div class="col-auto">
        <label for="company" class="visually-hidden">기업명,키워드</label>
        <input type="text" class="form-control" id="company" placeholder="기업명,키워드">
      </div>
      <div class="col-auto">
        <label for="industrial" class="visually-hidden">산업분류</label>
        <input type="text" class="form-control" id="industrial" placeholder="산업분류">
      </div>
       <div class="col-auto">
        <label for="phase" class="visually-hidden">투자단계</label>
        <input type="text" class="form-control" id="phase" placeholder="투자단계">
      </div>
      <div class="col-auto">
        <label for="capital" class="visually-hidden">투자금액</label>
        <input type="text" class="form-control" id="capital" placeholder="투자금액">
      </div>
  <br><br>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">검색</button>
      </div>
    </form>

    <div id="chartdiv"></div>

</body>



<!--참조 사이트
https://jsfiddle.net/pkuqf4cw/25/
https://codepen.io/team/amcharts/pen/pooByXV
-->

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{%static 'graph/test.js'%}"></script>

</html>